<html>
    <head>
      <title>ScienceJournal</title>
    </head>
    <body>
        <%= link_to 'Login', login_path %>
        <%= link_to 'Register', register_path %>
        <p>Find me in app/views/pages/home.html.erb</p>
    </body>
</html>
