.vertical_centered {
  display: table-cell;
  vertical-align: middle;
}

.journal_name {
  font-size: large;
  font-weight: bold;
  font-family: Minion, Garamond, Serif;
  color: #da4e49;
}

.cover {
  float: left;
  padding-bottom: 10px;
  padding-right: 5px;
}

.clear {
  clear: both;
}