.vertical_centered {
  display: table-cell;
  vertical-align: middle;
}

.journal_name {
  font-size: large;
  font-weight: bold;
  font-family: Minion, Garamond, Serif;
  color: #da4e49;
}

.vertical_top {
  vertical-align: top;
}

.cover {
  float: left;
}