.hello-message {
  font-size: x-large;
  color: #b91300;
  text-align: center;
  font-family: Minion,Garamond,Serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.message {
  font-size: large;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}