<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Censor
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Pending articles', articles_link(status: Article::STATUS_TO_REVIEW, censor_id: current_person_id) %></li>
    </ul>
  </li>
</ul>